@model PagedList.IPagedList<MvcTest.Models.C_News>
@using PagedList.Mvc;
@using MvcTest.Extensions;
@using MvcTest.Models;
@{
    ViewBag.Title = "内容列表";
    string[] EName = ViewBag.EName as string[];
}
@section HeadContent{
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/css/uniform.css" />
    <link rel="stylesheet" href="~/Content/css/select2.css" />
    <link rel="stylesheet" href="~/Content/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/css/matrix-media.css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="/Home" title="返回我的工作台" class="tip-bottom"><i class="icon-home"></i> 工作台</a> <a href="#" class="current">内容</a> </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="widget-box " style="left: 0;margin-top: 0;margin-bottom: 0;">
                <div class="widget-content">
                    <div class="controls controls-row ">
                        @using (Html.BeginForm("Index", "C_News", FormMethod.Get, new { }))
                        {
                            @*@Html.Label("源名称：", new { @class = "control-label span1 m-wrap", @style = "margin-top: 5px;" })
                                <input type="text" placeholder=".span3" class="span4 m-wrap" style="margin-left: 0px;">*@
                            @Html.Label("标题：", new { @class = "control-label span1 m-wrap", @style = "margin-top: 5px;" })
                            <input id="p" name="p" type="text" placeholder="请输入要查找的标题" class="span8 m-wrap" style="margin-left: 0px;">

                            <input type="submit" value="查找" placeholder=".span3" class="btn btn-primary">

                            if (EName.Contains("Create"))
                            {
                                @Html.ActionLink("新建", "Create", new { }, new { @class = "btn btn-primary", @onclick = "OnloadMessage2()" })
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>内容管理</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped with-check">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="title-checkbox" name="title-checkbox" /></th>
                                    @*<th>
                                            权重
                                        </th>*@

                                    <th>
                                        标题
                                    </th>
                                    <th>
                                        作者
                                    </th>

                                    <th>
                                        状态
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="gradeX">

                                        <td>
                                            @Html.CheckBox(item.NID.ToString())
                                        </td>

                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.OrderID)
                                            </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NewsTitle)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Auther)
                                        </td>

                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.CheckStat)*@
                                            @MvcHtmlString.Create(item.CheckStat == 0 ? "<div class=\"btn btn-success btn-mini\">正常</div>" : "<div class=\"btn btn-danger btn-mini\">异常</div>")
                                        </td>
                                        <td>
                                            @if (EName.Contains("Edit"))
                                            {
                                                @Html.ActionLink("修改", "Edit", new { id = item.NID }, new { @class = "btn btn-primary btn-mini", @onclick = "OnloadMessage2()" })
                                            }
                                            @if (EName.Contains("Details"))
                                            {
                                                @Html.ActionLink("详情", "Details", new { id = item.NID }, new { @class = "btn btn-info btn-mini", @onclick = "OnloadMessage2()" })
                                            }
                                            @if (EName.Contains("Delete"))
                                            {
                                                <a class="btn btn-danger btn-mini" href="javascript:void(0);" onclick="myconfirm(@item.NID)">删除</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
                <center>
                    <div class="pagination alternate">
                        <div style=" text-align:center;">
                            @Html.PagedListPager(Model, page => Url.Action("Index",
             new { pageindex = page, p = ViewBag.p }))
                        </div>
                    </div>
                </center>

            </div>
        </div>
    </div>
</div>

@section FootContent{
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/jquery.ui.custom.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.uniform.js"></script>
    <script src="~/Scripts/js/select2.min.js"></script>
    <script src="~/Scripts/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/js/matrix.js"></script>
    <script src="~/Scripts/js/matrix.tables.js"></script>
    @*<script src="~/Scripts/layer/layer.min.js"></script>

        <script>
            function OnloadMessage1() {
                layer.load("正在保存", 1);
            }
            function OnloadMessage2() {
                layer.load("正在跳转", 1);
            }
        </script>*@
}
@section FootBottom{
    <script>
        function myconfirm(id) {
            if (id == "" || id == undefined) {
                layer.msg('参数错误', 1, 1);
                return;
            }

            layer.confirm('确认删除？', function (index) {
                layer.load("正在删除", 0);
                Del(id);
            });
        }
        function Del(id) {
            if (id == "" || id == undefined) {

                return;
            }
            $.ajax({
                type: "post", url: "/C_News/DeleteConfirmedCom", dataType: "text", data: { id: id }, success: function (data) {
                    if (data.toString() == "OK") {
                        layer.load("删除成功，正在跳转", 0);
                        location.reload();
                    }
                    else if (data.toString() == "NO") {
                        layer.msg('删除失败，请联系管理员', 2);
                    }
                }
            });
        }
    </script>
}