@model MvcTest.Models.ErrorLogR

@{
    ViewBag.Title = "Create";
}
@section HeadContent{
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/css/colorpicker.css" />
    <link rel="stylesheet" href="~/Content/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/css/uniform.css" />
    <link rel="stylesheet" href="~/Content/css/select2.css" />
    <link rel="stylesheet" href="~/Content/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/css/matrix-media.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-wysihtml5.css" />
    <link href="~/fonts/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">服务器端错误日志</a> <a href="#" class="current">新建</a> </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>服务器端错误日志</h5>
                    </div>
                    <div class="widget-content nopadding">
                        @using (Html.BeginForm("Create", "ErrorLog", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)


                            <div class="control-group">
                                @Html.LabelFor(model => model.ErrTime, "出错时间", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.ErrTime, new { @class = "span8", placeholder = "出错时间" })
                                    @Html.ValidationMessageFor(model => model.ErrTime)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.BrowserVersion, "浏览器版本", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.BrowserVersion, new { @class = "span8", placeholder = "浏览器版本" })
                                    @Html.ValidationMessageFor(model => model.BrowserVersion)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.BrowserType, "浏览器", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.BrowserType, new { @class = "span8", placeholder = "浏览器" })
                                    @Html.ValidationMessageFor(model => model.BrowserType)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.Ip, "IP", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Ip, new { @class = "span8", placeholder = "IP" })
                                    @Html.ValidationMessageFor(model => model.Ip)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.PageUrl, "异常页面", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.PageUrl, new { @class = "span8", placeholder = "异常页面" })
                                    @Html.ValidationMessageFor(model => model.PageUrl)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.ErrMessage, "异常消息", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.ErrMessage, new { @class = "span8", placeholder = "异常消息" })
                                    @Html.ValidationMessageFor(model => model.ErrMessage)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.ErrSource, "异常源", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.ErrSource, new { @class = "span8", placeholder = "异常源" })
                                    @Html.ValidationMessageFor(model => model.ErrSource)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.StackTrace, "堆栈轨迹", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.StackTrace, new { @class = "span8", placeholder = "堆栈轨迹" })
                                    @Html.ValidationMessageFor(model => model.StackTrace)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.HelpLink, "帮助连接", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.HelpLink, new { @class = "span8", placeholder = "帮助连接" })
                                    @Html.ValidationMessageFor(model => model.HelpLink)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.Type, "错误类型，0=后台，1=前台，...... ", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Type, new { @class = "span8", placeholder = "错误类型，0=后台，1=前台，......" })
                                    @Html.ValidationMessageFor(model => model.Type)
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">保存</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section FootContent{
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/matrix.js"></script>
    <script src="~/Scripts/js/jquery.ui.custom.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/js/masked.js"></script>
    <script src="~/Scripts/js/jquery.uniform.js"></script>
    <script src="~/Scripts/js/select2.min.js"></script>

    @*<script src="~/Scripts/js/matrix.form_common.js"></script>*@
    <script src="~/Scripts/js/wysihtml5-0.3.0.js"></script>
    <script src="~/Scripts/js/jquery.peity.min.js"></script>
    <script src="~/Scripts/js/bootstrap-wysihtml5.js"></script>
    <script>
        $('.textarea_editor').wysihtml5();
    </script>
}
