@model MvcTest.Models.Spiders_CollectionRulesR
@using DataModel;
@{
    ViewBag.Title = "Edit";
}

@section HeadContent{
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/css/colorpicker.css" />
    <link rel="stylesheet" href="~/Content/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/css/uniform.css" />
    <link rel="stylesheet" href="~/Content/css/select2.css" />
    <link rel="stylesheet" href="~/Content/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/css/matrix-media.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-wysihtml5.css" />
}

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">采集规则</a> <a href="#" class="current">修改</a> </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>采集规则</h5>
                    </div>
                    <div class="widget-content nopadding">
                        @using (Html.BeginForm("Edit", "SpidersCollectionRules", new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)


                            @Html.HiddenFor(model => model.Id)
                            <div class="control-group">
                                @Html.LabelFor(model => model.CollectionName, "栏目名称", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CollectionName, new { @class = "span8", placeholder = "栏目名称" })
                                    @Html.ValidationMessageFor(model => model.CollectionName)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.SourceSiteTag, "源标记", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.SourceSiteTag, new { @class = "span8", placeholder = "源标记" })
                                    @Html.ValidationMessageFor(model => model.SourceSiteTag)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.SourceSiteName, "源名称", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.SourceSiteName, new { @class = "span8", placeholder = "源名称" })
                                    @Html.ValidationMessageFor(model => model.SourceSiteName)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.BaseUrl, "源根地址", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.BaseUrl, new { @class = "span8", placeholder = "BaseUrl" })
                                    @Html.ValidationMessageFor(model => model.BaseUrl)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.CollectionListRulesBig, "列表大规则", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CollectionListRulesBig, new { @class = "span8", placeholder = "列表大规则" })
                                    @Html.ValidationMessageFor(model => model.CollectionListRulesBig)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.CollectionListRulesMin, "列表小规则", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CollectionListRulesMin, new { @class = "span8", placeholder = "列表小规则" })
                                    @Html.ValidationMessageFor(model => model.CollectionListRulesMin)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.CollectionUrl, "目标地址", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.CollectionUrl, new { @class = "span8", placeholder = "CollectionUrl" })
                                    @Html.ValidationMessageFor(model => model.CollectionUrl)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.Contentleft, "内容规则", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Contentleft, new { @class = "span8", placeholder = "Contentleft" })
                                    @Html.ValidationMessageFor(model => model.Contentleft)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.Titleleft, "标题规则", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Titleleft, new { @class = "span8", placeholder = "Titleleft" })
                                    @Html.ValidationMessageFor(model => model.Titleleft)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.Imgleft, "插图规则", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Imgleft, new { @class = "span8", placeholder = "Imgleft" })
                                    @Html.ValidationMessageFor(model => model.Imgleft)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.NewPublishTimeLeft, "发布时间规则", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.NewPublishTimeLeft, new { @class = "span8", placeholder = "NewPublishTimeLeft" })
                                    @Html.ValidationMessageFor(model => model.NewPublishTimeLeft)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.TypeNameLeft, "新闻分类规则", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.TypeNameLeft, new { @class = "span8", placeholder = "TypeNameLeft" })
                                    @Html.ValidationMessageFor(model => model.TypeNameLeft)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.Encoding, "编码格式", new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Encoding, new { @class = "span8", placeholder = "Encoding" })
                                    @Html.ValidationMessageFor(model => model.Encoding)
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">保存</button>
                                @Html.ActionLink("返回", "Index", "SpidersCollectionRules", new { @class = "btn btn-success" })
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section FootContent{
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/matrix.js"></script>
    <script src="~/Scripts/js/jquery.ui.custom.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/js/masked.js"></script>
    <script src="~/Scripts/js/jquery.uniform.js"></script>
    <script src="~/Scripts/js/select2.min.js"></script>
    @*<script src="~/Scripts/js/matrix.form_common.js"></script>*@
    <script src="~/Scripts/js/wysihtml5-0.3.0.js"></script>
    <script src="~/Scripts/js/jquery.peity.min.js"></script>
    <script src="~/Scripts/js/bootstrap-wysihtml5.js"></script>
}